@font-face {
  font-family: 'Univers LT W05_55 Roman';
  src: url('https://ccc-frontend.github.io/fonts/fonts/7b452431-e4a6-48a8-8ba1-c6300f9384df.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Druk Wide Bold';
  src: url('https://ccc-frontend.github.io/fonts/fonts/Druk-Wide-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Dallas';
  src: url('https://ccc-frontend.github.io/fonts/fonts/DallasPS-SansReg.woff2') format('woff2');
}

@font-face {
  font-family: 'UniversLTPro-65Bold';
  src: url('https://ccc-frontend.github.io/fonts/fonts/Linotype-UniversLTPro-65Bold.woff2')
    format('woff2');
}

@font-face {
  font-family: 'UniversLTPro-BoldExt';
  src: url('https://ccc-frontend.github.io/fonts/fonts/Linotype-UniversLTPro-BoldExt.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Linotype-UniversLTPro-BlackExt';
  src: url('https://ccc-frontend.github.io/fonts/fonts/Linotype-UniversLTPro-BlackExt.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Helvetica Neue Black Extended';
  src: url('https://ccc-frontend.github.io/fonts/fonts/275e1e1e-08b1-4fe8-952b-5484d602fa4e.woff2')
    format('woff2');
}

@font-face {
  font-family: 'GT-Pressura-Mono-Bold';
  src: url('https://ccc-frontend.github.io/fonts/fonts/GT-Pressura-Mono-Bold.otf')
    format('opentype');
}

@font-face {
  font-family: 'Kelsi';
  src: url('https://ccc-frontend.github.io/fonts/fonts/Kelsi-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Phonk';
  src: url('https://ccc-frontend.github.io/fonts/fonts/Phonk-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Futura';
  src: url('https://ccc-frontend.github.io/fonts/fonts/Futura.ttc') format('truetype');
}

@font-face {
  font-family: 'Celias';
  src: url('https://ccc-frontend.github.io/fonts/fonts/Celias.ttf') format('truetype');
}

@font-face {
  font-family: 'Minecraft';
  src: url('https://ccc-frontend.github.io/fonts/fonts/Minecraft.ttf') format('truetype');
}

@font-face {
  font-family: 'MinionPro-Regular';
  src: url('https://ccc-frontend.github.io/fonts/fonts/MinionPro-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'FreightBigCmpProLight-Regular';
  src: url('https://ccc-frontend.github.io/fonts/fonts/FreightBigCmpProLight-Regular.otf') format('opentype');
}


.main {
  color: #000;
  font-family: 'Univers LT W05_55 Roman', serif;
  font-size: 14px;
  line-height: 1.4;
  font-weight: normal;
  letter-spacing: normal;
  box-sizing: border-box;
  min-height: 100vh;
  min-width: 320px;
  max-width: 1100px;
  margin: 100px auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.main *,
.main *:before,
.main *:after {
  box-sizing: inherit;
}
@media (max-width: 1100px) {
  .main {
    padding: 0 15px;
  }
}
